<!DOCTYPE html>
<html data-theme="business" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <style>
        @import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
        body {
            font-family: "Short Stack", cursive;
        }
        </style>
        <link rel="stylesheet" href="css/style.css" />
        <title>Profit Prophet</title>
    </head>
    <body class="doodle">
        <main>
            <fieldset>
                <legend>[Profit Prophet]</legend>
                <div class="loginContainer">
                    <p>
                        Keep track of your tasks, and how much you're making doing them!
                    </p>
                    <a href="/login">
                        <button class="redButton">Login</button>
                    </a>
                    <a href="/signup">
                        <button class="redButton">Register</button>
                    </a>
                </div>
            </fieldset>
        </main>
    </body>
</html>
