<!DOCTYPE html>
<html data-theme="business" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <div class="flex flex-col justify-around w-full place-items-center border-opacity-50">
        <div class="card w-96 mt-12 glass shadow-xl">
             <div class="card-body items-center">
                 <h2 class="card-title"><i class="fa-solid fa-file-invoice-dollar"></i>Register</h2>
                 <div class="items-center">
                    <% if (locals.messages.errors) { %>
                        <% messages.errors.forEach( el => { %>
                            <div class="alert alert-danger"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                    <form action="/signup" method="POST">
                        <input type="text" name="userName" placeholder="User Name" class="input input-bordered input-primary mb-2 input-sm max-w-xs">
                        <input type="email" name="email" placeholder="Email" class="input input-bordered input-primary mb-2 input-sm max-w-xs">
                        <input type="password" name="password" placeholder="Password" class="input input-bordered input-primary mb-2 input-sm max-w-xs">
                        <input type="password" name="confirmPassword" placeholder="Confirm Password" class="input input-bordered input-primary mb-2 input-sm max-w-xs"><br>
                        <input type="submit" class="btn rounded px-1 btn-accent btn-outline">
                    </form>
                 </div>
            </div>
        </div>
    </div>
</body>
</html>