<!DOCTYPE html>
<html data-theme="business" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="css/style.css" />
        <style>
        @import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
        body {
            font-family: "Short Stack", cursive;
        }
        </style>
        <title>Profit Prophet | Sign Up</title>
    </head>

    <body class="doodle">
        <a href="/"><i class="fa-solid fa-angles-left"></i></a>
        <fieldset>
            <legend>[Profit Prophet]</legend>
            <div class="register">
                <h2><i class="fa-solid fa-user-plus"></i>Register a new user</h2>
                <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>
                <% } %>
                <form class="signUp" action="/signup" method="POST">
                    <input type="text" name="userName" size="63" placeholder="User Name">
                    <input type="email" name="email" size="63" placeholder="Email">
                    <input type="password" name="password" size="30" placeholder="Password">
                    <input type="password" name="confirmPassword" size="30" placeholder="Confirm Password"><br>
                    <input class="submitButton" type="submit" />
                </form>
            </div>
        </fieldset>
    </body>
</html>
