<!DOCTYPE html>
<html data-theme="business" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profit Prophet | Tasks</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <style>
        @import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
        body {
            font-family: "Short Stack", cursive;
        }
        </style>
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body class="doodle">
        <fieldset>
            <legend>[Profit Prophet]</legend>
            <div class="nav-bar">
                <div class="nav1">
                    <a href="/dashboard">
                        <button class="yellowButton">Home</button>
                    </a>
                    <a href="/entries">
                        <button class="yellowButton">Entries</button>
                    </a>
                    <a href="/tasks" id="grow">
                        <button class="yellowButton">Tasks</button>
                    </a>
                </div>
                <a href="/logout">
                    <button class="yellowButton">Log Out</button>
                </a>
            </div>
            <div class="taskPage">
                <fieldset>
                    <legend>New Task</legend>
                    <div class="taskContainer">
                        <form action="/tasks/createTask" method="POST">
                            <input
                                type="text"
                                placeholder="Task Name"
                                name="task"
                                size="28"
                            />
                            <input
                                type="number"
                                step="any"
                                placeholder="$Rate"
                                name="pay"
                            />
                            <input
                                type="text"
                                placeholder="Measure"
                                id="measure "
                                name="measure"
                                size="8"
                            />
                            <input class="submitButton" type="submit"/>
                        </form>
                    </div>
                </fieldset>
                <h3>Tasks</h3>
                <div class="taskContainer">
                    <table>
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Rate</th>
                                <th>Measure</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% tasks.forEach(task => { %>
                            <tr>
                                <td class="tableData"><%= task.task %></td>
                                <td class="tableData">$<%= task.pay %></td>
                                <td class="tableData"><%= task.measure %></td>
                                <td class="tableData">
                                    <form
                                        action="/tasks/deleteTask/<%= task._id %>?_method=DELETE"
                                        method="POST"
                                        class="col-3"
                                    >
                                        <button class="redButton fa fa-trash" type="submit"></button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </body>
</html>
